{% extends 'base.html.twig' %}

{% block title %}Команда
{% endblock %}

{% block body %}
	<main class="container-fluid py-3">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-4">
				<h1>{{ team.name }}</h1>
				<div class="pb-2 border-bottom"></div>
			</div>
			<div class="row mt-4">
				<div class="col-sm-1"></div>
				<div class="col-sm-4">
					<h3>Участники</h3>

					<ol class="list-group list-group-numbered mt-4 mb-2">

						{% for user in team.users %}
							<a href="{{ path('app_profile_show', {'id': user.id}) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
								<li class=" d-flex justify-content-between align-items-start">
									<div class="ms-2 me-auto">
										<div class="fw-bold">{{ user.firstname ~ ' ' ~  user.lastname}}</div>
										<small class="opacity-50 text-nowrap">{{ user.email}}</small>
									</div>
								</li>
							</a>
						{% endfor %}
					</ol>
				</div>

				<div class="col-sm-1"></div>
				{% if is_granted('ROLE_DEV') %}
					<div class="col-sm-4">
						<h3>Проекты</h3>
						{% for project in team.projects %}
							<div class="pb-2 border-bottom"></div>
							<a href="{{ path('app_project_show', {'id': project.id}) }}" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
								<div class="d-flex gap-2 w-100 justify-content-between">
									<div>
										<h4 class="fw-semibold mb-0">{{ project.fullName}}</h4>
										<p class="mb-0 text-body-secondary">{{ project.codeName}}</p>
									</div>
									<small class="opacity-50 text-nowrap">{{ project.type}}</small>
								</div>
							</a>
							<div class="pb-2 border-bottom"></div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
	</main>
{% endblock %}
