{% extends 'base.html.twig' %}

{% block title %}Storage index{% endblock %}

{% block body %}
    <h1>Storages by project</h1>
    <div class="container">
    {{ render_chart(chart) }}

{# You can pass HTML attributes as a second argument to add them on the <canvas> tag #}
    {{ render_chart(chart, {'class': 'my-chart'}) }}
    </div>

    {# <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Link</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for storage in storages %}
            <tr>
                <td>{{ storage.id }}</td>
                <td>{{ storage.link }}</td>
                <td>{{ storage.description }}</td>
                <td>
                    <a href="{{ path('app_storage_show', {'id': storage.id}) }}">show</a>
                    <a href="{{ path('app_storage_edit', {'id': storage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table> #}

    <a href="{{ path('app_storage_new') }}">Create new</a>
{% endblock %}
