{% extends 'base.html.twig' %}

{% block title %}Просмотр проекта
{% endblock %}

{% block body %}
	<main class="container-fluid py-3">
		<div class="row">
			<div class="col-sm-2">
				<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mt-2 mb-xl-5 px-2">
					<div class="list-group-flush mb-3">
						<a href="#" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<p class="h4">{{ project.fullName}}</p>
							</div>
							<p class="mb-1">{{ project.CodeName}}</p>
						</a>
						<hr>
					</div>
					<p class="h">Команды</p>
					<nav class="small" id="toc">
						{% for team in project.teams %}
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<a href="{{ path('app_team_show', {'id': team.id}) }}" class="list-group-item-action text-decoration-none">{{ team.name }}</a>
									<span class="badge bg-primary rounded-pill">{{ team.users.count}}</span>
								</li>
							</ul>
						{% endfor %}
						<hr/>
					</nav>

					<nav class="small" id="toc">
						<hr/>
						<ul class="list-group">
							<li class="list-group-item d-flex justify-content-between align-items-center">
								<a href="{{ path('app_project_storage_index', {'projectId': project.id}) }}" class="list-group-item-action text-decoration-none">Активность</a>
							</li>
						</ul>
						<hr/>
					</nav>
					<nav class="small" id="toc">
						<hr/>
						<div class="pb-2 border-bottom mb-2 mt-2"></div>
						<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
							{% if is_granted('ROLE_DEV') %}
								<a class="btn btn-outline-success me-1" href="{{ path('app_project_edit', {'id': project.id}) }}">Изменить</a>
							{% endif %}

							<a class="btn btn-outline-primary me-1" href="{{ path('app_project_index') }}">К списку проектов</a>

							{% if is_granted('ROLE_DEV') %}
								{{ include('project/_delete_form.html.twig') }}
							{% endif %}

						</div>
					</nav>

					{% if project.users.size is defined %}
						<h2 class="h6 pb-3 mb-1 border-bottom">Пользователи</h2>
						<nav class="small" id="toc">
							{% for user in project.users %}
								<ul class="list-group">
									<li class="list-group-item d-flex justify-content-between align-items-center">
										<a href="{{ path('app_user_show', {'id': user.id}) }}" class="list-group-item-action text-decoration-none">{{ user.firstname ~ ' ' ~ user.lastname}}</a>
										<span class="badge bg-primary rounded-pill">{{ user.roles[0]}}</span>
									</li>
								</ul>
							{% endfor %}
						</nav>
					{% endif %}
				</aside>
			</div>
			<div class="col-sm-8">
				<div {{ vue_component('ProjectComponent', { 'projectData': projectData, 'isEditor': isEditor } ) }}></div>
			</div>
			<div class="col-sm-2 mt-2">
				<nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end list-group">
					<nav class="nav nav-pills flex-column">
						{% for page in pages|sort((a, b) => a.id > b.id) %}
							<a class="nav-link" href="{{ path('app_page_show', {'id': page.id}) }}">
								{% for i in range(1, page.level) %}
									.
								{% endfor %}
								{{ page.header }}
							</a>
						{% endfor %}
						{% if is_granted('ROLE_DEV') %}
							<a class="btn btn-outline-dark" href="{{ path('app_page_new', {'projectId': project.id}) }}">
								Новая страница
							</a>
						{% endif %}
					</nav>
				</nav>
			</div>
		</div>
	</main>
{% endblock %}
