{% extends 'base.html.twig' %}

{% block title %}Project
{% endblock %}

{% block body %}

	{# <main class="container-fluid py-3">
		<div class="row">
			<div class="col-sm-2">
				<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2">
					<div class="list-group-flush mb-3">
						<a href="#" class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">{{ project.fullName}}</h5>
							</div>
							<p class="mb-1">{{ project.CodeName}}</p>
							<small>{{ project.type}}</small>
						</a>
					</div>
					<h2 class="h6 pb-3 mb-1 border-bottom">Команды</h2>
					<nav class="small" id="toc">
						{% for team in project.teams %}
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<a href="{{ path('app_team_show', {'id': team.id}) }}" class="list-group-item-action text-decoration-none">{{ team.name }}</a>
									<span class="badge bg-primary rounded-pill">{{ team.users.count}}</span>
								</li>
							</ul>
						{% endfor %}
					</nav>
				</aside>
				<aside class="bd-aside sticky-xl-top text-body-secondary align-self-start mb-3 mb-xl-5 px-2">
					<h2 class="h6 pb-3 mb-1 border-bottom">Пользователи</h2>
					<nav class="small" id="toc">
						{% for user in project.users %}
							<ul class="list-group">
								<li class="list-group-item d-flex justify-content-between align-items-center">
									<a href="{{ path('app_user_show', {'id': user.id}) }}" class="list-group-item-action text-decoration-none">{{ user.firstname ~ ' ' ~ user.lastname}}</a>
									<span class="badge bg-primary rounded-pill">{{ user.roles[0]}}</span>
								</li>
							</ul>
						{% endfor %}
					</nav>
				</aside>
				 <a class="btn btn-dark rounded-pill px-3" href="{{ path('app_storage_by_project', {'project_id': project.id}) }}">Статистика</a> 
			</div>
			<div class="col-sm-8">
				{% for row in project.fields|batch(3) %}
					<div class="row" data-masonry="{&quot;percentPosition&quot;: true }" style="position: relative; height: 690px;">
						{% for field in row %}
							{% if field.type == 'file' %}
								<div class="col-sm-6 col-lg-4 mb-4">
									<div class="card p-3">
										<figure class="p-3 mb-0">
											<blockquote class="blockquote">
												<p>Это пример поля для файла</p>
											</blockquote>
											<figcaption class="blockquote-footer mb-0 text-body-secondary">
												и его краткого описания
												<cite title="Source Title">
													а тут ссылка на скачивание
												</cite>
											</figcaption>
										</figure>
									</div>
								</div>
							{% elseif field.type == 'img' %}
								<div class="col-sm-6 col-lg-4 mb-4">
									<div class="card">
										<svg class="bd-placeholder-img card-img-top" width="100%" height="200" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveaspectratio="xMidYMid slice" focusable="false">
											<title>Placeholder</title>
											<rect width="100%" height="100%" fill="#868e96"></rect>
											<text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text>
										</svg>
										<div class="card-body">
											<h5 class="card-title">Это пример поля с типом "img"</h5>
											<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
											<p class="card-text">
												<small class="text-body-secondary">Last updated 3 mins ago</small>
											</p>
										</div>
									</div>
								</div>
							{% elseif field.type == 'link' %}
								<div class="col-sm-6 col-lg-4 mb-4">
									<div class="card text-center">
										<div class="card-body">
											<h5 class="card-title">Поле типа "link"</h5>
											<p class="card-text">Ну и описание ссылки</p>
											<p class="card-text">
												<small class="text-body-secondary">
													сама ссылка
												</small>
											</p>
										</div>
									</div>
								</div>
							{% elseif field.type == 'text' %}
								<div class="col-sm-6 col-lg-4 mb-4">
									<div class="card">
										<div class="card-body">
											<h5 class="card-title">А тут типа длинный текст</h5>
											<p class="card-text">Ну что-то вроде... This is another card with title and supporting text below. This card has some additional content to make it slightly taller overall.</p>
											<p class="card-text">
												<small class="text-body-secondary"></small>
											</p>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				{% endfor %}
			</div>
			<div class="col-sm-2 mt-2">
				<nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end list-group">
					<nav class="nav nav-pills flex-column">
						<a class="nav-link" href="#item-1">Item 1</a>
						<nav class="nav nav-pills flex-column">
							<a class="nav-link ms-3 my-1" href="#item-1-1">Item 1-1</a>
							<a class="nav-link ms-3 my-1" href="#item-1-2">Item 1-2</a>
						</nav>
						<a class="nav-link" href="#item-2">Item 2</a>
						<a class="nav-link" href="#item-3">Item 3</a>
						<nav class="nav nav-pills flex-column">
							<a class="nav-link ms-3 my-1" href="#item-3-1">Item 3-1</a>
							<a class="nav-link ms-3 my-1" href="#item-3-2">Item 3-2</a>
						</nav>
					</nav>
				</nav>
			</div>
		</div>
	</main>
	<a href="{{ path('app_project_index') }}">back to list</a>

	<a href="{{ path('app_project_edit', {'id': project.id}) }}">edit</a>

	{{ include('project/_delete_form.html.twig') }} #}
	<div {{ vue_component('ProjectComponent', { 'projectData': projectData } ) }}></div>
	{# <div {{ vue_component('MyComponent', { 'name': 'FFFFFFFFFFFFFFFFF' } ) }}></div> #}
{% endblock %}