{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}

{% block body %}
	<div class="container">

		{% if isCurrent %}
		<h2>Профиль</h2>
		<div class="pb-2 border-bottom mb-2 mt-2"></div>
		<div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
			<a class="btn btn-outline-success me-1" href="{{ path('app_user_edit', {'id': user.id}) }}">Изменить</a>
			{{ include('user/_delete_form.html.twig') }}
		</div>
		{% else %}
		<h2>Просмотр профиля пользователя</h2>
		{% endif %}
		<div class="pb-2 mb-2 border-bottom"></div>
		{# <div class="row g-5"> #}
		<div class="row g-3">
			<div class="col-md-4">
				<label for="validationDefault01" class="form-label">Имя
				</label>
				<input type="text" class="form-control" id="validationDefault01" value="{{ user.firstname }}" disabled>
			</div>
			<div class="col-md-4">
				<label for="validationDefault02" class="form-label">Фамилия</label>
				<input type="text" class="form-control" id="validationDefault02" value="{{ user.lastname }}" disabled>
			</div>
			<div class="col-md-4">
				<label for="validationDefault02" class="form-label">Телефон</label>
				<div class="input-group">
					<input type="text" class="form-control" id="validationDefaultUsername" value="{{ user.phone }}" aria-describedby="inputGroupPrepend2" disabled>
				</div>
			</div>
			<div class="col-md-3">
				<label for="validationDefaultUsername" class="form-label">Github Username</label>
				<div class="input-group">
					<span class="input-group-text" id="inputGroupPrepend2">@</span>
					<input type="text" class="form-control" id="validationDefaultUsername" value="{{ user.githubName }}" aria-describedby="inputGroupPrepend2" disabled>
				</div>
			</div>
			<div class="col-md-3">
				<label for="validationDefault05" class="form-label">Token</label>
				<input type="text" class="form-control" id="validationDefault05" value="{{ user.token }}" disabled>
			</div>
			<div class="col-md-3">
				<label for="validationDefault05" class="form-label">Email</label>
				<input type="text" class="form-control" id="validationDefault05" value="{{ user.email }}" disabled>
			</div>
			{% if user.team is defined %}
				<div class="col-md-3">
					<label for="validationDefault05" class="form-label">Команда</label>
					<input type="text" class="form-control" id="validationDefault05" value="{{ user.team.name }}" disabled>
				</div>
			{% endif %}

		</div>

		<div class="list-group col-8 mt-3">
			<div class='h4'> Проекты </div>
			{% for pr in user.projects %}
				<a href="{{ path('app_project_show', {'id': pr.id}) }}" class="list-group-item list-group-item-action">{{ pr.fullname}}</a>
			{% endfor %}
		</div>
{% endblock %}
